
  .qa-section {
    padding: 100px 10%;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    margin-bottom: 0;
  }
  
  .qa-section h2,.qa-section h3 
  {
    font-size: 2.5rem;
    color: #1c3f60;
    margin-bottom: 20px;
  }
  
  .qa-section p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
  }
  
  .qa-section h4 {
    font-size: 1.5rem;
    color: #607D8B;
    margin-bottom: 20px;
  }
  
  /* Buttons */
  .buy-btn,
  .whatsapp-btn,
  .submit-btn {
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px;
    cursor: pointer;
  }
  
  .buy-btn {
    background-color: #007bff; 
  }
  
  .buy-btn:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
  }
  
  .buy-btn:active {
    transform: scale(1); 
  }
  
  
  .whatsapp-btn {
    background-color: #25D366; 
  }
  
  .whatsapp-btn:hover {
    background-color: #128C7E; 
  }
  
  .whatsapp-btn:active {
    background-color: #075E54; 
  }
  
  /* Form Styling */
  
  .qa-form {
    background-color: #ffffff;
    padding: 20px 10px;
    margin-top: 10px;
    
  }
  
  .qa-form h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #1c3f60;
  }
  
  .qa-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .qa-form label {
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: left;
    width: 60%;
  }
  
  .qa-form input {
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
  }
  
  .qa-form input:focus {
    border-color: #007bff;
  }
  
  .submit-button {
    padding: 12px 30px;
    background-color: #007bff;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  
  @media (max-width: 768px) {
    
    .qa-section {
      padding-top: 20%;
      padding-left: 4%;
      padding-right: 4%;
    }
  
    .qa-section h2,
    .qa-section h3 {
      font-size: 2rem;
    }
  
    .qa-section p {
      font-size: 1rem;
      text-align: start;
    }
  
    .qa-section h4 {
      font-size: 1.2rem;
    }
  
    .buy-btn,
    .whatsapp-btn {
      padding: 10px 20px;
      font-size: 1rem;
      width: 70%;
    }
  
    .qa-form {
      padding: 15px;
    }

    .qa-form label {
      width: 100%;
    }
  
    .qa-form input,
    .submit-btn {
      padding: 10px;
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    /* Adjustments for very small screens */
    .qa-section h2,
    .qa-section h3 {
      font-size: 1.5rem;
    }
  
    .qa-section p {
      font-size: 0.9rem;
    }
  
    .qa-section h4 {
      font-size: 1rem;
    }
  
    .buy-btn,
    .whatsapp-btn {
      padding: 8px 20px;
      font-size: 0.9rem;
    }
  
    .qa-form input,
    .submit-btn {
      padding: 8px;
      font-size: 0.9rem;
    }

    .qa-form h2 {
      font-size: 1rem;
      
    }
  }
  