
.modern-blog-container {
  padding-top: 6%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f9f9f9;
}


.modern-blog-header {
  text-align: center;
  margin-bottom: 40px;
}

.modern-blog-header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1c3f60;
}

.modern-blog-header p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}

.modern-blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}


.modern-blog-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modern-blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.modern-blog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.modern-blog-info {
  padding: 20px;
}

.modern-blog-info h3 {
  font-size: 1.8rem;
  color: #333;
  margin: 15px 0;
}

.modern-blog-category {
  font-size: 1rem;
  color: #1c3f60;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.modern-blog-excerpt {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 15px;
}

.modern-read-more {
  font-size: 1.1rem;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modern-read-more:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {

  .modern-blog-container {
    padding-top: 25%;
    padding-left: 4%;
    padding-right: 4%;
  }
  .modern-blog-header h2 {
    font-size: 2rem;
  }

  .modern-blog-header p {
    font-size: 1rem;
    padding: 20px 0;
  }

  .modern-blog-grid {
    grid-template-columns: 1fr; 
  }

  .modern-blog-card {
    width: 100%;
  }

  .modern-blog-info h3 {
    font-size: 1.5rem;
  }

  .modern-blog-excerpt {
    font-size: 1rem;
  }

  .modern-read-more {
    font-size: 1rem;
    padding: 8px 12px;
  }
}
