
.heros {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/34.jpg');
  background-size: cover;
  padding: 90px 20px;
  text-align: center;
}


.heros h1 {
  margin-top: 20px;
  color: goldenrod;
  font-size: 36px;
  margin-bottom: 15px;
}

.heros p {
  color: white;
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}


.features-section {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.features-section h2 {
  margin-top: 20px;
  color: #1c3f60;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.features-item {
  background-color: #f3f4f6;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.features-item h3 {
  font-size: 1.5rem;
  color: #105a80;
  font-weight: 600;
  margin-top: 15px;
}

.features-item p {
  margin-top: 10px;
  color: #555;
}

.features-item i {
  font-size: 3rem;
  color: #105a80;
}

/* Case Studies Section */
.case-studies-section {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f4f4f4;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.case-study-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-items: center;
  padding: 20px;
}

.case-study-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.case-study-item:hover {
  transform: translateY(-10px);
}

.case-study-info {
  margin-bottom: 15px;
}

.case-study-info h3 {
  font-size: 1.5rem;
  color: #105a80;
  font-weight: 600;
  margin-bottom: 10px;
}

.case-study-info p {
  font-size: 1rem;
  color: #333;
}

.impact-box {
  background: linear-gradient(135deg, #1c3f60, #4CAF50);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 15px;
}

.impact-box p {
  color: #fff;
}

.case-study-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}


/* Download Section Styling */
.download-section {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f8f9fa;
}

.download-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.download-text {
  flex: 1 1 45%;
  padding: 20px;
  text-align: left;
}

.download-text h2 {
  font-size: 2rem;
  color: #1c3f60;
  margin-bottom: 15px;
}

.download-text p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 20px;
  line-height: 1.6;
}

.download-btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #1c3f60;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}



.download-image {
  flex: 1 1 45%;
  padding: 20px;
  text-align: center;
}

.download-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}





/* Media Queries */
@media (max-width: 768px) {

  .features-section {
    padding-left: 4%;
    padding-right: 4%;
  }

  .features-section h2 {
    font-size: 2rem;
  }
  .features-list {
    grid-template-columns: 1fr;
  }


  .case-studies-section {
    padding-left: 4%;
    padding-right: 4%;
  }

  .case-study-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .case-study-item {
    flex-direction: column;
  }

  .case-study-info {
    max-width: 100%;
  }

  .cta-section h2 {
    font-size: 2rem;
  }

  .download-section {
    padding-left: 4%;
    padding-right: 4%;
  }

  .download-container {
    flex-direction: column;
    text-align: center;
  }

  .download-text {
    margin-bottom: 20px;
  }

  .download-text h2 {
    font-size: 1.8rem;
  }

  .download-text p {
    font-size: 0.95rem;
  }

  .download-image {
    padding: 0;
    margin-bottom: 20px;
  }

  .download-image img {
    max-width: 90%;
  }
}

@media(max-width: 480px) {
  .heros {
    padding-top: 20%;
    background-position: center;
    padding-bottom: 5%;
  }

  .heros h1 {
    font-size: 1.5rem;
  }

  .heros p {
    font-size: 1.1rem;
  }
}