.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background: linear-gradient(135deg, #1c3f60, #2e273a);
    color: #fff;
    z-index: 10;
  }
  
 
  .logo {
    display: flex;
    justify-content: start; 
    align-items: start; 
    margin: 0; 
  
  }
  
  .logo img {
    width: 80px; 
    height: auto; 
    display: block; 
  }
    
  .social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .social-media span {
    font-weight: bold;
    font-size: 1.3rem;
    color: #4CAF50;
  }
  
  .social-media a {
    color: #ffffffa9;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  
 
  .nav-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  
  
  /* Contact Button */
  .contact-button {
    background: linear-gradient(135deg, #1c3f60, #4CAF50);;
    color: #2e273a;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #2e273a;
    color: #ffd700;
  }
  
  /* Menu Icon */
  .menu-icon {
    display: none;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
  }
  
  .mobile-navbar {
    display: none;  
  }



  @media(max-width: 853px) and (max-height: 1280px) {
    .navbar {
      padding: 6px 15px;
  }
  .mobile-navbar {
    display: flex;  
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0.8rem 0;  
    z-index: 10;
  }

  
  .mobile-navbar .nav-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 0.5rem; 
    text-decoration: none;
    color: #2e2c2c;
    font-size: 0.8rem; 
  }

  .mobile-navbar .nav-item i {
    font-size: 1.5rem; 
    margin-bottom: 0.2rem; 
  }


  .mobile-navbar .nav-text {
    font-size: 1.5rem;
    font-weight: 500;  
    text-align: center; 
  }

  

  .nav-links {
    display: none;
  }
}
  
 

  
  @media (max-width: 850px) {
    .navbar {
        padding: 0px 15px;
    }
    .mobile-navbar {
      display: flex;  
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 0.8rem 0;  
      z-index: 10;
    }
  
    
    .mobile-navbar .nav-item {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      padding: 0.5rem; 
      text-decoration: none;
      color: #2e2c2c;
      font-size: 0.8rem; 
    }
  
    .mobile-navbar .nav-item i {
      font-size: 1rem; 
      margin-bottom: 0.2rem; 
    }
  
  
    .mobile-navbar .nav-text {
      font-size: 0.7rem;
      font-weight: 500;  
      text-align: center; 
    }
  
    
  }
  
  @media (max-width: 850px) {
    .nav-links {
      display: none;
    }
  }
  
  