/* Services Styles */
.services {
    margin-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    background: #ffffff;
    margin-bottom: 50px;
    }
    
    .services h2 {
      font-size: 2.5rem;
      text-align: center;
      color: #1c3f60;
      margin-bottom: 2rem;
    }
    
    .service-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
    
    .service {
      background-color: #fff;
      border-radius: 10px;
      padding: 2rem;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }
    
    .service:hover {
      transform: scale(1.05);
    }
  
  
    .service-list h3 {
      font-size: 1.5rem;
      margin: 1rem 0 0.5rem;
      font-size: 1.5rem;
      color: #105a80;
      font-weight: 600;
    }
    .service-list a {
      text-decoration: none;
    }
    
    .icon {
      font-size: 2rem;
      color: #105a80;
      margin-bottom: 1rem;
    }
    
    .learn-more {
      display: inline-block;
      margin-top: 1rem;
      background-color: linear-gradient(#105a80, goldenrod);
      text-decoration: underline;
      font-weight: 600;
      list-style: none;
    }
    @media (max-width: 950px) {
      .service-list {
        grid-template-columns: repeat(2, 1fr);
  
      }
    }
    @media (max-width: 800px) {
      .services {
        padding: 6%;
        margin-bottom: 20px;
    
      }
  
      .services h2 {
        font-size: 2rem;
      }
  
  
      .service-list {
        grid-template-columns: 1fr;
      }
  
      .service-list h3 {
        font-size: 1.5rem;
      }
    }
    